{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": { "jest": true },
  "globals": {
    "document": true,
    "fetch": true,
    "webpack": true,
    "window": true
  },
  "rules": {
    "max-len": [1, 120, { "tabWidth": 2, "ignoreComments": true }],
    "react/jsx-filename-extension": "off",
  },
}
